.shop-condition-hours {
  position: absolute;
  right: 0;
  position: fixed;
  width: 30px;
  height: 30px;
}

.preview-box {
  &__upper {
    cursor: pointer;
  }
  &__lower {
    z-index: 1;
    width: 370px;
    height: 20%;
    .edit-btn {
      background-color: darkcyan;
      height: 70%;
      border-radius: 4px;
      margin-top: 15px;
      .fa {
        color: white;
        font-size: 25px;
        padding-top: 3px;
        padding-left: 5px;
        display: flex;
        p {
          margin-left: 10px;
        }
      }
    }
  }
}

.hidden-content {
  display: none;
}

#DeleteBtn {
  border: 5px solid white;
  #DeleteText {
    color: black;
  }
}

.verify {
  background-color: darkcyan;
  width: 120px;
  text-align: center;
  border-radius: 4%;
  bottom: 30px;
  left: 30px;
  position: fixed;
  padding: 15px;
  span {
    color: #fff;
    margin-bottom: 5px;
    font-size: 18px;
    text-decoration: none;
    display: block;
  }
  a {
    width: 60%;
  }
}

.hidden-link {
  display: none;
  background-color: blanchedalmond;
  text-align: center;
  width: 24%;
  height: 70px;
  margin: 0 38% 50px 38%;
  border-radius: 3px;
  .verifyDelete {
    padding-top: 3px;
    font-size: 22px;
    &__text {
      color: red;
      font-size: 20px;
      font-weight: bold;
    }
  }
}

