.shop-condition-hours {
  position: absolute;
  right: 0;
  position: fixed;
  width: 30px;
  height: 30px;
}

.preview-box {
  &__upper {
    cursor: pointer;
  }
  &__lower {
    z-index: 1;
    width: 370px;
    height: 20%;
    .edit-btn {
      background-color: darkcyan;
      height: 70%;
      border-radius: 4px;
      margin-top: 15px;
      .fa {
        color: white;
        font-size: 25px;
        padding-top: 3px;
        padding-left: 5px;
        display: flex;
        p {
          margin-left: 10px;
        }
      }
    }
  }
}

.hidden-content {
  display: none;
}